# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# --- Entornos (Conda/Venv) ---
.conda/
data-env/

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- MLflow & Experiment Tracking ---
# Ignoramos la base de datos de experimentos porque puede pesar GBs
mlruns/
mlartifacts/

# --- Datos y Modelos (LO MÁS IMPORTANTE) ---
# Ignoramos datasets y modelos pesados (.joblib, .pkl, .csv, .sqlite)
datasets/
outputs/
models/
mlartifacts/
mlruns/
chroma_db/
*.sqlite3

# --- Docker ---
.docker/

# --- Sistema ---
mlflow.db
*.db
.DS_Store
Thumbs.db